/* variable */
:root {
  --preloader-color: #1d001e;
  --nav-bg-color: #1d001e;
  --main-bg-color: #2c0b2d;
  --main-color-1: #ee8683;
  --main-color-2: #ea1d6f;
  --main-color-4: #edb23f;
  --main-color-5: #44b78b;
  --main-color-6: #987c4d;
  --main-color-7: #bffa02;
  --card-bg-color-1: #9aa851;
  --default-text-color: #e30184 !important;
  /*for service section  */
  --background-dark: #2d3548;
  --text-light: rgba(255, 255, 255, 0.6);
  --text-lighter: rgba(255, 255, 255, 0.9);
  --spacing-s: 8px;
  --spacing-m: 16px;
  --spacing-l: 24px;
  --spacing-xl: 32px;
  --spacing-xxl: 64px;
  --width-container: 1200px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* testing purpose start--------- */
body {
  background-color: var(--main-bg-color);
}

/* body {
  background: linear-gradient(to right, #ea1d6f 0%, #eb466b 100%);
  font-size: 12px;
} */

/* testing purpose end--------- */

/* universal section */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}

p {
  font-family: "Nunito", sans-serif;
  font-size: 20px;
  line-height: 30px;
  color: var(--default-text-color);
}
.universal-padding {
  padding-top: 80px;
  padding-bottom: 80px;
}
.bg-section {
  /* background: #f8f9fa; */
  background: var(--main-bg-color);
}
.universal-btn {
  padding: 5px 20px;
  background-color: var(--main-color-1) !important;
  color: var(--default-text-color) !important;
}

/* preloader */
.preloader {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  background-color: var(--preloader-color);
  z-index: 99998;
}
.preloader::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50%;
  background: var(--preloader-color);
  transition: 1s;
}
.preloader::after {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 50%;
  background: var(--preloader-color);
  transition: 1s;
}
.preloader.complete::before {
  bottom: -50%;
}
.preloader.complete::after {
  top: -50%;
}
.preloader.complete {
  visibility: hidden;
}
.circle {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: transform(-50%, -50%);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 10px solid rgba(255, 255, 255, 0.1);
  border-top: 10px solid var(--main-color-1);
  animation: animate 1.5s infinite linear;
  z-index: 99999;
}
@keyframes animate {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
/* my nav text */
/* .navbar-brand h2 {
  
} */
.text {
  display: none;
}
.text.three-d-1 {
  position: fixed;
  top: 0px;
  left: 0px;
  font-family: "Arial", sans-serif;
  font-size: 50px;

  font-weight: bold;
  color: rgb(44, 11, 45);
}
.text.three-d-1:after {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: -moz-linear-gradient(
    top,
    rgba(44, 11, 45, 1) 0%,
    rgba(44, 11, 45, 0) 100%
  );
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, rgba(44, 11, 45, 1)),
    color-stop(100%, rgba(44, 11, 45, 0))
  );
  background: -webkit-linear-gradient(
    top,
    rgba(44, 11, 45, 1) 0%,
    rgba(44, 11, 45, 0) 100%
  );
  background: -o-linear-gradient(
    top,
    rgba(44, 11, 45, 1) 0%,
    rgba(44, 11, 45, 0) 100%
  );
  background: -ms-linear-gradient(
    top,
    rgba(44, 11, 45, 1) 0%,
    rgba(44, 11, 45, 0) 100%
  );
  background: linear-gradient(
    to bottom,
    rgba(44, 11, 45, 1) 0%,
    rgba(44, 11, 45, 0) 100%
  );
  /* filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#272727', endColorstr='#00272727',GradientType=0 ); */
}

.my-nav-text.three-d-2 {
  text-shadow: 0 -1px 0 #858585, 0 1px 10px rgba(0, 0, 0, 0.6),
    0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.2),
    0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2),
    0 7px 10px rgba(0, 0, 0, 0.25), 0 15px 10px rgba(0, 0, 0, 0.2),
    0 25px 15px rgba(0, 0, 0, 0.15);
}

/* top button section */
#button {
  display: inline-block;
  background-color: var(--default-text-color);
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}
#button::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
}
#button:hover {
  cursor: pointer;
  background-color: var(--nav-bg-color);
}
#button:active {
  background-color: #555;
}
#button.show {
  opacity: 1;
  visibility: visible;
}

/* 
nav:hover {
  background-color: crimson;

} */
nav {
  height: 100px;
  line-height: 100px;
}
nav .navbar-brand {
  font-size: 30px;
  /* color: #fff; */
}
nav .navbar-nav li a {
  /* color: rgba(255, 255, 255, 0.8); */
  font-size: 22px;
  letter-spacing: 0.05em;
  font-weight: 600;
  font-family: "Nunito", sans-serif;
  line-height: 100px;
}
nav .navbar-nav li {
  border: 2px solid green;
  margin-left: 15px;
  height: 100px;
}

nav.c-nav.addSticky {
  /* add claas to element itself note there is no space in writing class with . */
  background: var(--nav-bg-color) !important;
  padding: 15px 0;
  box-shadow: 0 1px 8px 3px rgba(0, 0, 0, 0.05);
  transition: 0.5s all ease-in-out;
  position: fixed;
}
nav.addSticky .navbar-brand {
  /* color: #000; */
  font-size: 40px;
  transition: 0.5s all;
  /*isi transition se sab kuch isme change hoga jo bhi css likhi hai jaises font-size and color  */
}

.c-bar {
  margin-right: 39.9px;
  font-size: 40px;
}
.navbar .c-bar {
  color: aqua;
}
nav.addSticky .c-bar {
  color: aqua;
  /* color: #f15426; */
}
/* design nav link */
@import url("https://fonts.googleapis.com/css?family=Sacramento&display=swap");

.design-nav-link {
  font-size: calc(20px + 18vh);
  line-height: calc(20px + 20vh);

  text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500,
    0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
  color: #fff6a9;
  font-family: "Sacramento", cursive;
  text-align: center;
  animation: blink 12s infinite;
  -webkit-animation: blink 12s infinite;
}

@-webkit-keyframes blink {
  20%,
  24%,
  55% {
    color: #111;
    text-shadow: none;
  }

  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
    text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500,
      0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
    color: #fff6a9;
  }
}

@keyframes blink {
  20%,
  24%,
  55% {
    color: #111;
    text-shadow: none;
  }

  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
    /*     color: #fccaff;
    text-shadow: 0 0 5px #f562ff, 0 0 15px #f562ff, 0 0 25px #f562ff,
      0 0 20px #f562ff, 0 0 30px #890092, 0 0 80px #890092, 0 0 80px #890092; */
    text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500,
      0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
    color: #fff6a9;
  }
}

/* header section-------------- */
header {
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://bit.ly/2XgAzi3");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.c-header-content {
  border: 2px solid blue;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* apne height me vertically and horizontally center , height 100vh dene par paryapt height mil gyi centralised hone ke liye */
}
.content-box {
  border: 2px solid yellow;
  max-width: 700px;
  color: var(--default-text-color);
}
.content-box h4 {
  font-size: 30px;
}
.content-box h1 {
  font-size: 52px;
}
.content-box a {
  color: var(--default-text-color);
  text-decoration: none;
  border: 2px solid #fff;
  border-radius: 20px;
  padding: 5px 25px;
}
.content-box a:hover {
  background-color: #000;
  color: var(--default-text-color);
  transition: 0.5s all;
}
.content-box p {
  color: var(--default-text-color);
}

/* about section */
.about {
  border: 2px solid chartreuse;
}
.about h2 {
  color: var(--main-color-4);
}
.about li a {
  color: #3e3e3e;
  display: inline-block;
  height: 42px;
  width: 42px;
  font-size: 20px;
  border: 2px solid #d4d4d4;
  border-radius: 50%;
  line-height: 42px;
  transition: 0.5s all;
  text-align: center;
  /* horizontally center kiya , a tag ke andar i content ko */
}
.about li a:hover {
  color: var(--main-color-1);
}

/* skills and experience section */
.exp-class {
  border: 4px solid crimson;
}
.exp-class h3 {
  color: var(--main-color-4);
}
.exp-class label {
  color: var(--main-color-5);
}
.exp-class progress {
  height: 10px;
  border-radius: 20px;
  font-size: 10px;
}
.progress-bar {
  background-color: var(--main-color-1);
}
.exp-class label {
  font-size: 20px;
  margin: 10px;
}
/* service section  */
.service-class h6 {
  color: var(--main-color-4) !important;
}
#cards_landscape_wrap-2 {
  text-align: center;
  background: var(--main-bg-color);
}
#cards_landscape_wrap-2 .container {
  padding-top: 80px;
  padding-bottom: 100px;
}
#cards_landscape_wrap-2 a {
  text-decoration: none;
  outline: none;
}
#cards_landscape_wrap-2 .card-flyer {
  border-radius: 5px;
}
#cards_landscape_wrap-2 .card-flyer .image-box {
  background: var(--main-bg-color);
  overflow: hidden;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}
#cards_landscape_wrap-2 .card-flyer .image-box img {
  -webkit-transition: all 0.9s ease;
  -moz-transition: all 0.9s ease;
  -o-transition: all 0.9s ease;
  -ms-transition: all 0.9s ease;
  transition: all 0.9s ease;
  width: 100%;
  height: 200px;
}
#cards_landscape_wrap-2 .card-flyer:hover .image-box img {
  opacity: 0.7;
  -webkit-transform: scale(1.15);
  -moz-transform: scale(1.15);
  -ms-transform: scale(1.15);
  -o-transform: scale(1.15);
  transform: scale(1.15);
}
#cards_landscape_wrap-2 .card-flyer .text-box {
  text-align: center;
}
#cards_landscape_wrap-2 .card-flyer .text-box .text-container {
  padding: 30px 18px;
}
#cards_landscape_wrap-2 .card-flyer {
  background: var(--main-bg-color);
  margin-top: 50px;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.4);
}
#cards_landscape_wrap-2 .card-flyer:hover {
  background: var(--main-bg-color);
  box-shadow: 0px 15px 26px rgba(0, 0, 0, 0.5);
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  margin-top: 50px;
}
#cards_landscape_wrap-2 .card-flyer .text-box p {
  margin-top: 10px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  font-size: 14px;
  letter-spacing: 1px;
  color: var(--default-text-color);
}
#cards_landscape_wrap-2 .card-flyer .text-box h6 {
  margin-top: 0px;
  margin-bottom: 4px;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  font-family: "Roboto Black", sans-serif;
  letter-spacing: 1px;
  color: var(--default-text-color);
}
/* project section */
.project-class {
  background: var(--main-bg-color);
}
.project-class h2 {
  color: var(--main-color-6);
}
.card-block .btn-outline-primary {
  width: 100%;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  bottom: 0;
  left: 0;
  position: absolute;
}

.card {
  margin: 20px 0;
}

/* Flip Cards CSS */
.card-container {
  perspective: 700px;
}
.card-flip {
  position: relative;
  width: 100%;
  transform-style: preserve-3d;
  height: auto;
  transition: all 0.5s ease-out;
  background: var(--card-bg-color-1);
  border: none;
}

.card-flip div {
  backface-visibility: hidden;
  transform-style: preserve-3d;
  height: 100%;
  width: 100%;
  border: none;
}

.card-flip .front {
  position: relative;
  z-index: 1;
}

.card-flip .back {
  position: relative;
  z-index: 0;
  transform: rotateY(-180deg);
}

.card-container:hover .card-flip {
  transform: rotateY(180deg);
}
/* testimonial section */
/* testmonial csa is in testimonial.css */
/* hire-me section */
.hire-me-class h3 {
  color: var(--main-color-7);
}
/* get in touch => contact section */
.contact {
  padding: 130px 0;
}

.contact .heading h2 {
  font-size: 30px;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

.contact .heading h2 span {
  color: var(--default-text-color);
}

.contact .heading p {
  font-size: 15px;
  font-weight: 400;
  line-height: 1.7;
  color: var(--main-color-2);
  margin: 20px 0 60px;
  padding: 0;
}

.contact .form-control {
  padding: 25px;
  font-size: 13px;
  margin-bottom: 10px;
  background: var(--card-bg-color-1);
  border: 0;
  border-radius: 10px;
}

.contact button.btn {
  padding: 10px;
  border-radius: 10px;
  font-size: 15px;
  background: var(--main-bg-color);
  color: var(--default-text-color);
}

.contact .title h3 {
  font-size: 18px;
  font-weight: 600;
}

.contact .title p {
  font-size: 14px;
  font-weight: 400;
  color: var(--default-text-color);
  line-height: 1.6;
  margin: 0 0 40px;
}

.contact .content .info {
  margin-top: 30px;
}
.contact .content .info i {
  font-size: 30px;
  padding: 0;
  margin: 0;
  color: #02434b;
  margin-right: 20px;
  text-align: center;
  width: 20px;
}
.contact .content .info h4 {
  font-size: 13px;
  line-height: 1.4;
}

.contact .content .info h4 span {
  font-size: 13px;
  font-weight: 300;
  color: var(--default-text-color);
}
